{% extends "base.html" %}
{% load static %}
{% block title %}Appointment Detail{% endblock title %}
{% block content %}


<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center" style="gap: 10px;">
        <form method="post" style="display: flex; gap: 10px; align-items: center;">
            {% csrf_token %}
            {{ add_client_form.as_p }}
            <button type="submit" name="add_client">💾</button>
        </form>
    </div>
      <div class="d-flex justify-content-center align-items-center" style="gap: 10px;">
        <form method="post" style="display: flex; gap: 10px; align-items: center;">
            {% csrf_token %}
            {{ add_doctor_form.as_p }}
            <button type="submit" name="add_doctor">💾</button>
        </form>
    </div>
    <h3>Appointment</h3>
    <form method="post" class="form-center">
        <table>
            {% csrf_token %}
            {{appointment_form.as_table}}
            <tr>
                <th>Client:</th>
                {% if client %}
                <td>S: <strong>{{client.surname}}</strong> F:<strong> {{client.firstname}}</strong></td>
                {% endif %}
            </tr>
             <tr>
                <th>Doctor:</th>
                {% if doctor %}
                 <td>S: <strong>{{doctor.surname}}</strong> F: <strong>{{doctor.firstname}}</strong></td>
                {% endif %}
            </tr>
            <tr>
                <th>Save</th>
                <td>
                    <button type="submit" name="update_appointment">💾</button>
                    <button type="submit" name="delete_appointment">❌ Delete</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock content %}
