{% extends "base.html" %}
{% block title %}Clients{% endblock title %}
{% block content %}

{#line comment#}
{% comment %} block comment {% endcomment %}

<div class="container-fluid">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th scope="col">Surname</th>
            <th scope="col">Firstname</th>
            <th scope="col">Patronymic</th>
            <th scope="col">Birthday</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{client.id}}</th>
            <td>{{client.surname}}</td>
            <td>{{client.firstname}}</td>
            <td>{{client.patronymic}}</td>
            <td>{{client.birthday}}</td>
            <td>{{client.email}}</td>
            <td>{{client.gender}}</td>
            <td>
                <a class="btn btn-sm btn-warning" >Edit</a>
                <a class="btn btn-sm btn-info" >Details</a>
                <a class="btn btn-sm btn-danger" >Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock content %}