<div class="container mt-5">
    <form action="{% url 'core:medical_history' %}" method="post" class="form-flex">
        {% csrf_token %}
        <div class="mb-3">
            <label>Diagnostic date</label>
            <input class="form-control" type="date" name="diagnostic_date">
        </div>
        <div class="mb-3">
            <input class="form-control" type="text" name="name_of_disease" placeholder="name of disease">
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="is_chronic" id="is_chronic">
            <label class="form-check-label" for="is_chronic">Is chronic</label>
        </div>
        <button type="submit">💾</button>
    </form>
</div>