{% extends "base.html" %}
{% block title %}Create Client{% endblock title %}

{% block content %}
<div style="justify-items: center;">
    <div class="d-flex justify-content-center align-items-center container mt-5 form-center">
        <form style="width: 100%;" action="{% url 'core:create_client' %}" method="post" class="form-flex">
            {% csrf_token %}
            <div class="mb-3">
                <input class="form-control" type="text" name="surname" placeholder="Surname">
            </div>
            <div class="mb-3">
                <input class="form-control" type="text" name="firstname" placeholder="Firstname">
            </div>
            <div class="mb-3">
                <input class="form-control" type="text" name="patronymic" placeholder="Patronymic">
            </div>
            <div class="mb-3">
                <input class="form-control" type="date" name="birthday">
            </div>
            <div class="mb-3">
                <input class="form-control" type="text" name="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <select name="gender" id="gender">
                    {% for gender in gender_choices %}
                    <option value="{{gender.value}}">{{gender.label}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">💾</button>
        </form>
    </div>
</div>
{% endblock content %}