{% extends "base.html" %}
{% block title %}Doctor Detail{% endblock title %}
{% block content %}

<div class="container-fluid text-center my-3">
    {% if doctor.photo %}
    <img style="width: 200px; height: 200px;" src="{{doctor.photo.url}}" alt="">
    {% endif %}
</div>

<div class="container-fluid text-left">
    <h3>Doctor</h3>
    <form method="post" class="form-center" enctype="multipart/form-data">
        <table>
            {% csrf_token %}
            {{doctor_form.as_table}}
            <tr>
                <th>Зберегти</th>
                <td>
                    <button type="submit" name="submit_doctor">💾</button>
                </td>
            </tr>
        </table>
        <table>
            {% csrf_token %}
            {{qualification_form.as_table}}
            <tr>
                <th>Зберегти</th>
                <td>
                    <button type="submit" name="submit_qualification">💾</button>
                </td>
            </tr>
        </table>
    </form>
<!--    <h4>qualification</h4>-->
<!--    <ul>-->
<!--        {% for form in qualification_list_form %}-->
<!--        <li>{{ form.qualification_name.value }}</li>-->
<!--        {% empty %}-->
<!--        <li>Dont qualification</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
</div>

{% endblock content %}