<div class="container mt-5">
    <form action="{% url 'core:doctors' %}" method="post" class="form-flex">
    {% csrf_token %}
    <div class="mb-3">
        <input class="form-control" type="text" name="surname" placeholder="Surname">
    </div>
    <div class="mb-3">
        <input class="form-control" type="text" name="firstname" placeholder="Firstname">
    </div>
    <div class="mb-3">
        <input class="form-control" type="text" name="patronymic" placeholder="Patronymic">
    </div>
    <button type="submit">💾</button>
    </form>
</div>